*{box-sizing: border-box;}

header{
    display: flex;
    justify-content: space-around;
    background-color: brown;
}

footer{
    border-top: dashed 1px black;
}

footer, footer div{
    display: flex;
    justify-content: space-between;
    margin: 0 1% 0 1%;
}

footer div p{
    margin: 0 1% 0 1%;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-header *{
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    background-color: antiquewhite;
    color: rgb(23, 23, 23);
}

#grid-accueil{
    display: flex;
}

#grid-accueil img{
    padding: 1%;
}

#grid-accueil > div{
    display: flex;
    width: 25%;
    background-color: red;
}

#grid-accueil img{
    width: 75%;
}

#desc-accueil{
    flex-direction: column;
}

#desc-accueil > p{
    margin: 10 0;
    font-size: 0.75rem;
}

#nav-accueil{
    display: flex;
}

#nav-accueil div{
    display: flex;
    align-items: center;
    margin-right: 15%;

}