*{box-sizing: border-box;}

/*----------------- Header -----------------*/

header{
    background-color: brown;
}

header div{
    display: flex;
    justify-content: space-around;
}

.nav-header *{
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    background-color: antiquewhite;
    color: rgb(23, 23, 23);
}

/*----------------- Footer -----------------*/

footer{
    border-top: dashed 1px black;
}

footer div{
    display: flex;
    justify-content: space-between;
    margin: 0 1% 0 1%;
}

footer div p{
    margin: 0 1% 0 1%;
}

/*----------------- Page d'Accueil -----------------*/

#grid-accueil{
    display: flex;
}

#grid-accueil img{
    padding: 1%;
}

#grid-accueil > div{
    display: flex;
    width: 25%;
    background-color: red;
}

#grid-accueil img{
    width: 75%;
}

#desc-accueil{
    flex-direction: column;
}

#desc-accueil > p{
    margin: 10 0;
    font-size: 0.75rem;
}

#nav-accueil{
    display: flex;
}

#nav-accueil div{
    display: flex;
    align-items: center;
    margin-right: 15%;
    
}

#temoignages-accueil h3{
    color: rgb(87, 87, 87);
}

#grid-temoignage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
    margin-bottom: 5%;
}

#grid-temoignage img{
    height: 15%;
    width: 15%;
    margin-right: 5%;
}

#grid-temoignage > div{
    background-color:lightgray;
    padding: 5%;
    padding-bottom: 0;
}

.flex-temoignage{
    display: flex;
}

/*----------------- Page de reservation -----------------*/

.flex-formulaire{
    display: flex;
    flex-direction: column;
    margin: 1% 0;
}

.flex-formulaire span{
    color: red;
}

input, select, textarea{
    max-width: 25%;
}

textarea{
    height: 100px;
}

#h2-reservation{
    font-size: 3rem;
}

.form-margin{
    margin: 1% 0;
}

/*----------------- Page de confirmation -----------------*/

#h2-confirmation{
    font-size: 2rem;
    margin-left: 15%;
}

#confirmation-main{
    height: 86dvh;
}

/*----------------- Page restaurant -----------------*/

#restaurant-grid{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3%;
    grid-template-columns: 21% 21% 21% 21%;
    grid-template-rows: 29% 29% 29%;
}

#restaurant-grid > div{
    background-color: greenyellow;
}

#resto-img3{
    grid-row: 1/ span 2;
    grid-column: 3/ span 2;
}

#resto-img4{
    grid-row: 2/ span 2;
    grid-column: 1/ span 2;
}

#flex-addresse{
    display: flex;
}

/*----------------- Misc -----------------*/

h2{
    font-size: 2rem;
}

.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}